<div class="container">
    <div class="row">
        <div class="col-7">
            <img src="assets/discount/discount.jpg" alt="image" width="100%">
        </div>
        <div class="col-5" style="align-content: center;">
            <br>
            <div class="card" style="background-color: yellow; width: 20%;">PRECIO FINAL</div>
            <br>
            <br>
            <p style="font-size: xx-large; line-height: 3rem;"><b>Obtén un 25 % de descuento en el plan WeWork All Access Plus con esta oferta especial</b></p>
            <hr>
            <p style="font-size: larger; line-height: 2.3rem;">Accede a espacios de trabajo cerca de ti con un descuento del 25 % en la cuota del plan de membresía
                mensual Plus de WeWork All Access durante 5 meses. Se aplican términos y condiciones.</p>
                <a href="">Obten mas informacion <mat-icon fontIcon="trending_flat"></mat-icon></a> 
        </div>
    </div>
</div>