<footer class="text-white text-center text-lg-start mt-5" style="background-color: #f1f3f6">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">


            <!--Grid column-->
            <div class="col-3">
                <ul class="list-unstyled mb-0">
                    <li>
                        <a class="text-black">EMPRESA</a>
                    </li>
                    <li>
                        <a href="#!" class="text-black">Ubicaciones alrededor del mundo</a>
                    </li>
                    <li>
                        <a href="#!" class="text-black">Mision</a>
                    </li>
                    <li>
                        <a href="#!" class="text-black">Inclusion y diversidad</a>
                    </li>
                    <li>
                        <a href="#!" class="text-black">Oportunidades de empleo</a>
                    </li>
                    <li>
                        <a href="#!" class="text-black">Inversores</a>
                    </li>
                    <li>
                        <a href="#!" class="text-black">Sala de redaccion</a>
                    </li>
                    <li>
                        <a href="#!" class="text-black">Blog</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-3">
                <ul class="list-unstyled">
                    <li>
                        <a class="text-black">COLABORACIONES</a>
                    </li>
                    <li>
                        <a href="#!" class="text-black">Brokers</a>
                    </li>
                    <li>
                        <a href="#!" class="text-black">Propietarios</a>
                    </li>
                    <li>
                        <a href="#!" class="text-black">Recomiendanos a alguien</a>
                    </li>
                    <li>
                        <a href="#!" class="text-black">Planificadores de eventos</a>
                    </li>
                </ul>
            </div>
            <div class="col-2">
                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="text-black">SOPORTE</a>
                    </li>
                    <li>
                        <a href="#!" class="text-black">Contacto</a>
                    </li>
                    <li>
                        <a href="#!" class="text-black">Member Login</a>
                    </li>
                    <li>
                        <a href="#!" class="text-black">Preguntas Frecuentes</a>
                    </li>
                    <li>
                        <a href="#!" class="text-black">Respuesta ante la COVID-19</a>
                    </li>
                </ul>
            </div>
            <div class="col-2">
                <ul class="list-unstyled">
                    <div class="icons">
                        <img width="10" src="assets/icons/facebook.svg" alt="facebook" />
                        <img width="20" class="ms-3" src="assets/icons/instagram.svg" alt="instagram" />
                        <img width="20" class="ms-3" src="assets/icons/linkedIn.svg" alt="linkedIn" />
                    </div>
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center text-black p-3" style="background-color: #e6e9ed">
        <div class="row">
        <div class="col-2">
            +5715087567

            WeWork Companies LLC

            75 Rockefeller Plaza

            Floor 10

            New York, New York 10019
        </div>

        <div class="col-8" >
            <ul >
                <li class="lista"> <a href="">Privacidad</a> </li>
                <li class="lista"> <a href="">Terminos</a></li>
                <li class="lista"> <a href="">Politicas de cookies</a></li>
                <li class="lista"> <a href="">Cookies Setting</a></li>
                <li class="lista"> <a href="">Accesibilidad</a></li>
                <li class="lista"> <a href="">Mapa del sitio</a></li>

            </ul>
            <div class="row" style="text-align: right;">
                <p> Copyright © 2023 WeWork. Todos los derechos reservados.
                </p>
            </div>
        </div>
    </div>
    </div>
    <!-- Copyright -->
</footer>