<div class="container">
    <div class="row">
        <div class="col-6">
            <p style="font-size: xx-large; line-height: 3rem;"><b>Soluciones para empresas de todos los tamaños</b></p>
            <mat-tab-group animationDuration="2000ms">
                <mat-tab label="Para particulares/equipos pequeños"> <br><p style="font-size: large; line-height: 1.7rem;"> Membresías flexibles y oficinas llave en mano que
                    se adaptan a todos los presupuestos y estrategias híbridas. Encuentra espacio para concentrarte y
                    colaborar en cientos de ubicaciones cerca de tu casa o en diferentes partes del mundo.</p></mat-tab>
                <mat-tab label="Para empresas medianas/grandes">
                    <br><p style="font-size: large; line-height: 1.7rem;"> Impulsa tu estrategia híbrida, mejora la experiencia de
                    los empleados y ahorra en costos inmobiliarios combinando oficinas privadas, metodologías de
                    coworking y soluciones de software.</p> </mat-tab>
            </mat-tab-group>
        </div>
        <div class="col-6">
            <img src="assets/solutions/solutions.jpg" alt="" width="60%">
        </div>
    </div>
</div>