<div class="container "
    style=" display: flex; justify-content: center; align-items: center; background-image: url('assets/space/space.jpg') ">
    <br>
    <div class="card" style="width: 60%;">
        <div class="card-body">
            <p style="font-size: x-large;"> <b> Te ayudamos a encontrar tu espacio de trabajo ideal</b></p>
            <p style="font-size: large;"> Completa el formulario y un miembro del equipo de WeWork se pondrá en contacto
                contigo a la brevedad.</p>

            <div class="row">
                <div class="col-6">
                    <mat-form-field>
                        <mat-label>Nombre Completo</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field>
                        <mat-label>Correo Electronico</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field>
                        <mat-label>Nombre de la empresa</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field>
                        <mat-label>Numero de telefono</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field>
                        <mat-label>Ubicacion</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field>
                        <mat-label>¿Cuántas personas necesitan un espacio de trabajo?</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <p>Al hacer clic en el botón a continuación, aceptas nuestras Condiciones de servicio y nuestra Política de privacidad global.</p>
            <button type="button" class="btn btn-primary">Enviar</button>
        </div>
    </div>
</div>